
body{
    font-family: 'Edu NSW ACT Foundation', cursive;
    background-color: #72d6f4;
    /* background-color: #7bdff2;  */
    color: #3a0ca3;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}


nav {
    background-color: #65d4f5;
}

a.nav-link {
    color:#7209b7;
}

a.nav-link:hover {
    color:#7209b7;
    text-shadow: 1px 1px 2px #ffbd00;
    text-decoration: underline wavy #f72585;
}

a.nav-link.active {
    color: #3a0ca3;
}

a.nav-link.active:hover {
    text-shadow: none;
    text-decoration: none;
}


footer {
    display: flex;
    justify-content: center;
}

h1 {
    font-family: 'Splash', cursive;
    color: #7209b7;
    text-shadow: 1px 1px 2px #ffbd00;
    /* font-family: 'Bad Script', cursive; */
    /* font-family: 'Nothing You Could Do', cursive; */
}